<a href="https://colab.research.google.com/github/captmukutb/hello-world/blob/main/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sum of numbers

-

In [ ]:
mysum=0
i=0

while i <= 4:
  mysum += i
  i += 1
print(mysum)

10

In [ ]:
mysum=0

for i in range(5):
  mysum +=i

print(mysum)

10

# For

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

# While

In [ ]:
i=0
while i<10:
  i +=2
  print(i)

2
4
6
8
10

In [ ]:
i=12
while i>2:
  i += -2
  print(i)

10
8
6
4
2

In [ ]:
iteration = 0
count = 0
while iteration < 5:
  for letter in "hello world":
    count +=1
    

  print("Itr"+str(iteration)+""+"count is"+ str(count))
  iteration +=1

Itr0count is11
Itr1count is22
Itr2count is33
Itr3count is44
Itr4count is55

In [ ]:
count=0
phrase = "hello world"
for iteration in range(5):
  while True:
    count += len(phrase)
    break 
print ("Iteration"+ str(iteration)+ "count"+str(count))

Iteration4count55

In [ ]:
for iteration in range(5):
  count = 0
  while True:
    for letter in "hello world":
      count += 1
    print ("Itreation"+ str(iteration)+ "count is"+ str(count))
    break

Itreation0count is11
Itreation1count is11
Itreation2count is11
Itreation3count is11
Itreation4count is11

In [ ]:
count = 0
phrase = "hello world"
for iteration in range(5):
    count += len(phrase)
print("Iteration"+ str(iteration)+""+ "count is"+ str(count))

Iteration4count is55

In [ ]:
count = 0
phrase = "hello world"
for i in range(5):
  index = 0
  while index < len(phrase):
    count += 1
    index += 1
print ("Iteration"+ str(iteration)+""+ "count is"+ str(count))

Iteration4count is55

In [ ]:
print("Enter first")
num1 = input()

print("enter second")
num2 = input()

print ("sum is"+ "  "+  str (int(num1) + int(num2)))

Enter first
3
enter second
6
sum is  9

In [ ]:
x= "hello world"

print (x [-4:])

orld